### Started Importing the Datasets

In [352]:
pip install dbfread

Requirement already satisfied: dbfread in c:\users\touch\anaconda3\envs\geospatial\lib\site-packages (2.0.7)
Note: you may need to restart the kernel to use updated packages.

In [353]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import geoplot as gplt
import matplotlib.pyplot as plt
import seaborn as sns
import geoplot.crs as gcrs
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from dbfread import DBF
%matplotlib inline

In [354]:
population = pd.read_csv('../data/estimated_pop_2018.csv')

In [355]:
counties = gpd.read_file('../data/county/tncounty.shp')

In [356]:
tornado_tracks = pd.read_csv('../data/Historical_Tornado_Tracks.csv')

In [357]:
traffic_dbf = DBF('../data/TrfcHistYR.dbf')

In [358]:
traffic_data = pd.DataFrame(iter(traffic_dbf))

### Lets Start to Explore the Datasets

In [359]:
counties.crs

<Projected CRS: EPSG:2274>
Name: NAD83 / Tennessee (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: USA - Tennessee
- bounds: (-90.31, 34.98, -81.65, 36.68)
Coordinate Operation:
- name: SPCS83 Tennessee zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [360]:
population.head()

,Counties,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,".Anderson County, Tennessee","75,129","75,082","75,098","75,209","75,225","75,299","75,157","75,456","75,528","76,056","76,287","76,978"
1,".Bedford County, Tennessee","45,058","45,057","45,078","45,247","45,254","45,565","46,251","46,948","47,442","48,211","49,146","49,713"
2,".Benton County, Tennessee","16,489","16,491","16,511","16,529","16,445","16,360","16,197","16,220","16,082","15,993","16,246","16,160"
3,".Bledsoe County, Tennessee","12,876","12,874","12,884","12,992","12,926","13,910","14,501","14,601","14,738","14,895","14,883","15,064"
4,".Blount County, Tennessee","123,010","123,098","123,199","123,664","124,024","124,874","125,847","126,954","128,264","129,999","131,331","133,088"

In [361]:
counties.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    95 non-null     int64
 1   NAME        95 non-null     object
 2   KEY         95 non-null     object
 3   SHAPE_AREA  95 non-null     float64
 4   SHAPE_LEN   95 non-null     float64
 5   geometry    95 non-null     geometry
dtypes: float64(2), geometry(1), int64(1), object(2)
memory usage: 4.6+ KB

In [362]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376813 entries, 0 to 376812
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   STATION_ID  376813 non-null  object
 1   STN_NUMBER  376813 non-null  object
 2   COUNTY      376813 non-null  object
 3   LOCATION    376813 non-null  object
 4   YEAR        376813 non-null  object
 5   ADJAVGDLY   376813 non-null  float64
 6   RTE_NUMBER  376813 non-null  object
 7   X           376813 non-null  float64
 8   Y           376813 non-null  float64
dtypes: float64(3), object(6)
memory usage: 25.9+ MB

In [363]:
tornado_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1145 entries, 0 to 1144
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       1145 non-null   int64
 1   om             1145 non-null   int64
 2   yr             1145 non-null   int64
 3   mo             1145 non-null   int64
 4   dy             1145 non-null   int64
 5   date           1145 non-null   object
 6   time           1145 non-null   object
 7   tz             1145 non-null   int64
 8   st             1145 non-null   object
 9   stf            1145 non-null   int64
 10  stn            1145 non-null   int64
 11  mag            1145 non-null   int64
 12  inj            1145 non-null   int64
 13  fat            1145 non-null   int64
 14  loss           612 non-null    float64
 15  closs          1145 non-null   float64
 16  slat           1145 non-null   float64
 17  slon           1145 non-null   float64
 18  elat           1145 non-null   float64
 19  elon           1145 non-null   float64
 20  len            1145 non-null   float64
 21  wid            1145 non-null   int64
 22  fc             1145 non-null   int64
 23  Pre_1996_Loss  1145 non-null   object
 24  SHAPE_Length   1145 non-null   float64
dtypes: float64(8), int64(13), object(4)
memory usage: 223.8+ KB

In [364]:
traffic_data.head()

,STATION_ID,STN_NUMBER,COUNTY,LOCATION,YEAR,ADJAVGDLY,RTE_NUMBER,X,Y
0,001000005,000005,Anderson,NEAR SCOTT CO LINE,2018,268.0,SR116,-84.416817,36.126099
1,001000005,000005,Anderson,NEAR SCOTT CO LINE,2017,181.0,SR116,-84.416817,36.126099
2,001000005,000005,Anderson,NEAR SCOTT CO LINE,2016,315.0,SR116,-84.416817,36.126099
3,001000005,000005,Anderson,NEAR SCOTT CO LINE,2015,309.0,SR116,-84.416817,36.126099
4,001000005,000005,Anderson,NEAR SCOTT CO LINE,2014,255.0,SR116,-84.416817,36.126099

In [365]:
indexNames = traffic_data[(traffic_data['X'] == 0)].index
traffic_data.drop(indexNames, inplace=True)

In [366]:
tornado_tracks.head()

,OBJECTID,om,yr,mo,dy,date,time,tz,st,stf,...,closs,slat,slon,elat,elon,len,wid,fc,Pre_1996_Loss,SHAPE_Length
0,25,25,1950,2,13,1950-02-13,01:00:00,3,TN,47,...,0.0,35.35,-89.77,0.0,0.0,0.2,10,0,3,17.411841
1,26,26,1950,2,13,1950-02-13,02:00:00,3,TN,47,...,0.0,35.75,-89.48,0.0,0.0,0.2,10,0,4,17.505247
2,47,47,1950,3,27,1950-03-27,15:00:00,3,TN,47,...,0.0,35.68,-85.77,0.0,0.0,0.2,10,0,3,17.485824
3,447,246,1951,11,14,1951-11-14,22:00:00,3,TN,47,...,0.0,35.22,-87.03,0.0,0.0,0.2,10,0,4,17.379473
4,477,16,1952,2,13,1952-02-13,17:00:00,3,TN,47,...,0.0,36.00,-88.12,0.0,0.0,0.3,300,0,4,17.563339

In [396]:
tornado_tracks.tail()

,OBJECTID,om,yr,mo,dy,date,time,tz,st,stf,...,closs,slat,slon,elat,elon,len,wid,fc,Pre_1996_Loss,SHAPE_Length
1140,60064,612000,2015,12,23,2015-12-23,16:43:00,3,TN,47,...,0.00,35.55,-89.07,35.56,-89.05,1.21,50,0,Post-1995,2392.561709
1141,60068,607144,2015,12,23,2015-12-23,18:18:00,3,TN,47,...,1.00,35.55,-87.81,35.66,-87.58,14.92,500,0,Post-1995,29564.231728
1142,60069,607146,2015,12,23,2015-12-23,18:55:00,3,TN,47,...,1.11,35.14,-87.97,35.51,-87.24,48.38,800,0,Post-1995,95455.493992
1143,60072,607154,2015,12,23,2015-12-23,22:14:00,3,TN,47,...,0.00,36.06,-85.97,36.12,-85.84,8.37,250,0,Post-1995,16673.761698
1144,60079,607163,2015,12,25,2015-12-25,07:18:00,3,TN,47,...,0.00,35.49,-86.41,35.49,-86.40,0.48,75,0,Post-1995,949.793959

In [393]:
tornado_tracks.columns

Index(['OBJECTID', 'om', 'yr', 'mo', 'dy', 'date', 'time', 'tz', 'st', 'stf',
       'stn', 'mag', 'inj', 'fat', 'loss', 'closs', 'slat', 'slon', 'elat',
       'elon', 'len', 'wid', 'fc', 'Pre_1996_Loss', 'SHAPE_Length'],
      dtype='object')

In [395]:
tornado_tracks['elat'].value_counts()

0.00     328
36.40     19
36.03     14
35.53     14
35.97     13
        ...
35.56      1
35.94      1
36.44      1
35.46      1
36.29      1
Name: elat, Length: 163, dtype: int64

In [367]:
counties.head()

,OBJECTID,NAME,KEY,SHAPE_AREA,SHAPE_LEN,geometry
0,76,Chester,47023,8.049024e+09,520461.080124,"POLYGON ((1137985.762 344601.643, 1137965.070 ..."
1,77,Wayne,47181,2.050741e+10,666520.678598,"POLYGON ((1365052.057 391716.806, 1365746.554 ..."
2,78,Tipton,47167,1.319125e+10,865093.887634,"MULTIPOLYGON (((886814.330 400456.525, 886774...."
3,79,Hamilton,47065,1.604776e+10,652926.001078,"POLYGON ((2274954.438 239788.911, 2274090.610 ..."
4,80,Stewart,47161,1.375003e+10,490090.336180,"POLYGON ((1382472.783 743972.302, 1382445.171 ..."

### Creating a list of all counties

In [368]:
county_list = ['Anderson', 'Bedford', 'Benton', 'Bledsoe', 'Blount', 'Bradley', 'Campbell', 'Cannon', 'Carroll', 'Carter', 
               'Cheatham', 'Chester', 'Claiborne', 'Clay', 'Cocke', 'Coffee', 'Crockett', 'Cumberland', 'Davidson', 
               'Decatur', 'DeKalb', 'Dickson', 'Dyer', 'Fayette', 'Fentress', 'Franklin', 'Gibson', 'Giles', 'Grainger', 
               'Greene', 'Grundy', 'Hamblen', 'Hamilton', 'Hancock',
               'Hardeman', 'Hardin', 'Hawkins', 'Haywood', 'Henderson',
               'Henry', 'Hickman', 'Houston', 'Humphreys', 'Jackson', 'Jefferson', 'Johnson', 
               'Knox', 'Lake', 'Lauderdale', 
               'Lawrence', 'Lewis', 'Lincoln', 'Loudon', 'McMinn', 'McNairy', 'Macon', 
               'Madison', 'Marion', 'Marshall', 'Maury', 
               'Meigs', 'Monroe', 'Montgomery', 'Moore', 'Morgan', 
               'Obion', 'Overton', 'Perry', 'Pickett', 'Polk', 'Putnam', 'Rhea', 
               'Roane', 'Robertson', 'Rutherford', 'Scott', 
               'Sequatchie', 'Sevier', 'Shelby', 'Smith', 'Stewart', 'Sullivan', 'Sumner', 
               'Tipton', 'Trousdale', 'Unicoi', 'Union', 'Van Buren', 'Warren', 'Washington', 'Wayne', 
               'Weakley', 'White', 'Williamson', 'Wilson']

### Cleaning the Population Data

In [369]:
#population['Counties'] = population['Counties'].map(lambda x: x.lstrip('.').rstrip(' ounty, Tennessee'))

In [370]:
population.head()

,Counties,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,".Anderson County, Tennessee","75,129","75,082","75,098","75,209","75,225","75,299","75,157","75,456","75,528","76,056","76,287","76,978"
1,".Bedford County, Tennessee","45,058","45,057","45,078","45,247","45,254","45,565","46,251","46,948","47,442","48,211","49,146","49,713"
2,".Benton County, Tennessee","16,489","16,491","16,511","16,529","16,445","16,360","16,197","16,220","16,082","15,993","16,246","16,160"
3,".Bledsoe County, Tennessee","12,876","12,874","12,884","12,992","12,926","13,910","14,501","14,601","14,738","14,895","14,883","15,064"
4,".Blount County, Tennessee","123,010","123,098","123,199","123,664","124,024","124,874","125,847","126,954","128,264","129,999","131,331","133,088"

In [371]:
population['county_list'] = county_list

In [372]:
population = population.drop(['Estimates Base', 'Census', 'Counties', '2010', '2011', '2012', '2013', 
                              '2014', '2015', '2016', '2017', '2019'], axis = 1)

In [388]:
population.rename(columns={'county_list': 'Counties'}, inplace=True)

In [389]:
population.head()

      2018  Counties
0   76,287  Anderson
1   49,146   Bedford
2   16,246    Benton
3   14,883   Bledsoe
4  131,331    Blount

### Creating a Subset That Only Includes The Year 2018

In [374]:
traffic_data_2018 = traffic_data[traffic_data['YEAR'] == '2018']

### Cleaning the Traffic Data

In [375]:
traffic_data_2018 = traffic_data_2018.drop(['STN_NUMBER', 'LOCATION', 'RTE_NUMBER'], axis = 1)

In [376]:
traffic_data_2018 = traffic_data_2018.rename(columns = {'X':'LONG','Y':'LAT'})

In [377]:
traffic_data_2018['ADJAVGDLY'] = traffic_data_2018['ADJAVGDLY'].astype('int64')

In [378]:
traffic_data_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12488 entries, 0 to 376779
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  12488 non-null  object
 1   COUNTY      12488 non-null  object
 2   YEAR        12488 non-null  object
 3   ADJAVGDLY   12488 non-null  int64
 4   LONG        12488 non-null  float64
 5   LAT         12488 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 682.9+ KB

In [379]:
traffic_data_2018['ADJAVGDLY'].describe()

count     12488.000000
mean       7904.033953
std       16625.621063
min           2.000000
25%         826.750000
50%        2619.500000
75%        7901.500000
max      212693.000000
Name: ADJAVGDLY, dtype: float64

In [380]:
traffic_data_2018.head()

    STATION_ID    COUNTY  YEAR  ADJAVGDLY       LONG        LAT
0    001000005  Anderson  2018        268 -84.416817  36.126099
61   001000007  Anderson  2018       1765 -84.181373  36.191066
121  001000008  Anderson  2018       3240 -84.162139  36.218138
182  001000010  Anderson  2018       1936 -84.155918  36.228584
243  001000011  Anderson  2018       8956 -84.152704  36.214983

### Creating a GeoDataFrame for Traffic Data 2018

In [381]:
geo_traffic_data = gpd.GeoDataFrame(
    traffic_data_2018, crs = 'EPSG:4326', geometry=gpd.points_from_xy(traffic_data_2018.LONG, traffic_data_2018.LAT))

In [382]:
geo_traffic_data.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [383]:
geo_traffic_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 12488 entries, 0 to 376779
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  12488 non-null  object
 1   COUNTY      12488 non-null  object
 2   YEAR        12488 non-null  object
 3   ADJAVGDLY   12488 non-null  int64
 4   LONG        12488 non-null  float64
 5   LAT         12488 non-null  float64
 6   geometry    12488 non-null  geometry
dtypes: float64(2), geometry(1), int64(1), object(3)
memory usage: 780.5+ KB

In [384]:
geo_traffic_data.head()

,STATION_ID,COUNTY,YEAR,ADJAVGDLY,LONG,LAT,geometry
0,001000005,Anderson,2018,268,-84.416817,36.126099,POINT (-84.41682 36.12610)
61,001000007,Anderson,2018,1765,-84.181373,36.191066,POINT (-84.18137 36.19107)
121,001000008,Anderson,2018,3240,-84.162139,36.218138,POINT (-84.16214 36.21814)
182,001000010,Anderson,2018,1936,-84.155918,36.228584,POINT (-84.15592 36.22858)
243,001000011,Anderson,2018,8956,-84.152704,36.214983,POINT (-84.15270 36.21498)

### Normalizing the traffic data by population

In [392]:
geo_traffic_data.groupby('COUNTY')['ADJAVGDLY'].mean().reset_index()

        COUNTY     ADJAVGDLY
0     Anderson   6151.110429
1      Bedford   4140.655462
2       Benton   2255.406593
3      Bledsoe   1425.657895
4       Blount   7705.540541
..         ...           ...
90       Wayne   1547.582278
91     Weakley   2740.422078
92       White   3120.613861
93  Williamson  13777.981481
94      Wilson   8700.420290

[95 rows x 2 columns]

In [385]:
for index in county_list:
    for index in geo_traffic_data

SyntaxError: invalid syntax (<ipython-input-385-b61d1380d92c>, line 2)

In [390]:
geo_traffic_data['countyavg'] = 'countyavg'

new_geo_traffic = pd.DataFrame()

for l in county_list:

    temp_df = geo_traffic_data.iloc[l[0] : l[1] + 1,:].groupby(['countyavg']).agg(lambda x : ''.join(x)).reset_index(drop = True)

    new_geo_traffic = pd.concat([new_geo_traffic, temp_df], ignore_index = True)

new_df

TypeError: can only concatenate str (not "int") to str

### Cleaning the Tornado Data

In [ ]:
#tornado_tracks = tornado_tracks.drop([''])

### Experimenting Plotting the Data

In [ ]:
gplt.kdeplot(geo_traffic_data, cmap = 'Reds', figsize = (30, 30), thresh = 0.05)

In [ ]:
#The chart above may not work because I haven't made a connection between the two geodataframes to make their values match

In [ ]:
geo_traffic_data.plot(figsize = (30,30))

In [ ]:
gplt.pointplot(geo_traffic_data, projection=gcrs.AlbersEqualArea(), hue = 'ADJAVGDLY', legend=True, figsize = (20,20))

In [ ]:
#area_center = [center.y, center.x]

In [ ]:
#[35.7559741, -90.4667597]

In [ ]:
#map_tn = folium.Map(location = area_center, zoom_start = 12)

In [ ]:
ax = gplt.polyplot(counties, projection=gcrs.AlbersEqualArea())
gplt.kdeplot(geo_traffic_data, cmap='Reds', shade=True, clip=counties, ax=ax)

In [ ]:
ax = gplt.polyplot(counties)
gplt.kdeplot(geo_traffic_data, cmap='Reds', shade=True, clip=counties, ax=ax)

In [ ]:
plt.plot(counties)

In [ ]:
counties.plot();

In [ ]:
#fig, ax = matplotlib.subplots()
ax = counties.plot(figsize = (8, 10), color = 'lightgreen')
geo_traffic_data.plot( ax = ax, column = 'ADJAVGDLY');
plt.show();

In [ ]:
counties.crs

In [ ]:
geo_traffic_data.crs